
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --font-padrão: 'Inter'


}


body {
            margin: 0px; /* margem externa */
            padding: 0px; /* margem interna */
            background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
            background-repeat: no-repeat;
        }
        
        /* navegação principal */

        #principal {
            width: 100%;
            height: 100px;
            border: 1px solid black;
            background-color: var(--preto-dnc);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px #bababa;
            
        }

        #menu {
            display: flex;
            width: 55%;
            justify-content: space-around;
            align-items: center;
            margin-left: 5%;
            
        }

        #principal div a:hover {
            color: var(--cinza-hover);

        }

        #principal div a {
            font-family: var(--font-padrão);
            font-size: 15px;
            font-weight: 600;
            color: white;
            text-decoration: none;
            
        }

        #principal button {
            margin-right: 5%;
            background-color: var(--azul-dnc);
            border: 0px;
            height: 40px;
            width: 80px;
            align-items: center;
            font-family: var(--font-padrão);
            font-size: 20px;
            font-weight: 600;
            color: white;
            text-decoration: none;
            box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25) ;
            cursor: pointer;

        }

        /*  Seção principal */

        section {
            display: flex;
            flex-direction:  column;
            justify-content: center;
            align-items: center;

            margin-top: 100px;
            margin-bottom: 100px;

        }

        header {
            color: white;
            font-family: var(--font-padrão);
        }
        
        header h1 {
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
        }

        header h2 {
            text-align: center;
            font-size: 25px;
            font-weight: 700;

        }

        header .invert {
            background-color: black;
            font-weight: bold;
            padding: 3px;
        }

        /* formulário */

        form {
            color: white;
            font-family: var(--font-padrão);
            font-size: 20px;
            font-weight: 600;
            width: 600px;
        }
        
        .form-group {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;

        }
        form input {
            border-radius: 5px;
            height: 8px;
            border: 0px;
            font-size: 20px;
            padding: 17px;
            background-color: rgba(255, 255, 255, 0.9);
        }

        form label {
            margin: 10px 0px 0px 10px ;
        }
        form input ::placeholder {
            color: rgba(57, 57, 57, 0.5);

        }

        .checkbox-itens label {
            font-size: 18px;
        }

        .checkbox-itens {
            display: flex;
            justify-content: left;
            align-items: center;
            
            
        }

        input[type="checkbox"] {
            transform: scale(1.7);
        }

        button[type="submit"] {
            background-color: rgba(12, 112 , 242, 0.9);
            width: 100%;
            height: 56px;
            font-size: 32px;
            color: white;
            margin-top: 100px;
            box-shadow: 0px 6px 4px rgba(12, 112 , 242, 0.25);
            cursor: pointer;
            border: 0px;
                    
        }

        /* footer */

        footer {
            width: 100%;
            background-color: var(--azul-dnc);
            
        }

        footer .linha1 {
            display: flex;
            justify-content: space-around;
            align-items: center;

            
        }

        footer ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            font-family: var(--font-padrão);
        }

        footer li {
            text-align: center;
            color: white;
        }
        
        footer nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 330px;
        }

        footer h5 {
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: 18px;
            font-family: var(--font-padrão);
            background-color: var(--preto-dnc);
            border-radius: 10px;
            padding:  10px 10px 10px 10px;
            margin-bottom: 15px;

        }

        footer ul li {
            padding: 10px;
        }
        footer ul li a {
            color: white;
            text-decoration: none;
        }

        footer ul li a:hover {
            color: var(--cinza-hover);
           
        }

        footer .endereco {
            color: white;
            font-weight: 600;
            font-size: 14px;
            font-family: var(--font-padrão);
            width: 15%;
            text-align: center;
            width: 30%;
        }

        /* linha 2 */

        footer .linha2 {
            height: 35px;
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 10px;
           
        }

        footer .linha2 a {
            font-family: var(--font-padrão);
            font-size: 18px;
            font-weight: 600;
            color: white;
            text-decoration: none;
            padding: 5px;
            
        }

        footer .linha2 a:first-child {
            border-right: 3px solid white;
        }

        footer.linha2 a:hover {
            color: var(--cinza-hover);
        }

        /* media query*/

@media only screen and (max-width: 600px) {
    
    #principal {
        flex-direction: column;
        height: auto;
    }
    #menu {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        
    }

    #menu a {
        display: flex;
        align-items: center;
        height: 50px;
    
    }

    #principal button {
        width: 100%;
        margin: 0px;

    }
    /* section  */
    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form {
        width:  95%;
        font-size: 20px;
    }

    .checkbox-itens label {
        font-size: 15px;
    }